<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <connectionStrings>

    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=getpytaskintg;AccountKey=xWHQvj5UbqDb21Taxvl/nTEtoC/r2L2Iqo0PLVmyKV8d+ETlJ6bPfskZhoaMgxmmB3ShCFEYdA3IeFLcJtv0Nw==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=getpytaskintg;AccountKey=xWHQvj5UbqDb21Taxvl/nTEtoC/r2L2Iqo0PLVmyKV8d+ETlJ6bPfskZhoaMgxmmB3ShCFEYdA3IeFLcJtv0Nw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=getpytaskintg;AccountKey=xWHQvj5UbqDb21Taxvl/nTEtoC/r2L2Iqo0PLVmyKV8d+ETlJ6bPfskZhoaMgxmmB3ShCFEYdA3IeFLcJtv0Nw==" />
    <add name="MyConnection" connectionString="Data Source=pytechnodb.database.windows.net;Initial Catalog=pytechnodb;Persist Security Info=True;User ID=pytechnodb;Password=Yashvi03"/>
  </connectionStrings>

  <appSettings>
    <add key="NameOfCustomer"         value="Mr.Ismail"/>
    <add key="PhoneNumberOfCustomer"  value="8197041083"/>
    
  </appSettings>

</configuration>